<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search users</title>
</head>
<body>


    <span th:if="${users.empty}">No users that match search term.</span>
    <ul>
        <li th:each="user : ${users}">
            <a th:href="|/users/${user.id}|" th:text="|${user.username} ($${user.dollars})|"></a>
        </li> 
    </ul>



    
</body>
</html>